{% extends 'base.html' %}

{% block title %}Register - Wagging Wonders{% endblock %}

{% block content %}
<div class="split left">
  <img src="{{ url_for('static', filename='images/dogcat.jpg') }}" alt="Dogs and Cats">
</div>

<div class="split right">
  <div class="form-card">
    <div class="logo">🐾</div>
    <h2>Sign up for Wagging<br>Wonders</h2>

    <form method="POST">
      {{ form.csrf_token }}

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" required class="input"><br>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" required class="input"><br>

      <button type="submit" class="btn">Register</button>
    </form>

    <p class="muted">Already have an account? 
      <a href="{{ url_for('client.login') }}">Log in</a>
    </p>
  </div>
</div>
{% endblock %}
